/*fuentes*/
@font-face {
    font-family: "formula1-display-regular";
    src: url("https://candyfonts.com/wp-data/2018/10/26/11543/Formula1-Regular_web_0.ttf") format("woff"),
    url("https://candyfonts.com/wp-data/2018/10/26/11543/Formula1-Regular_web_0.ttf") format("opentype"),
    url("https://candyfonts.com/wp-data/2018/10/26/11543/Formula1-Regular_web_0.ttf") format("truetype");
    /*esta fuente no funciona del todo, mirar si puede ir y si no, desecharlo*/

}

/*elementos html*/
body{
    margin: 0;
}
/*id*/
#map{
    background-color: brown;

    height: 100%;
    width: 100%;
    position: fixed;
    display: block;
    z-index: -1;
}
#title{
    width: 20%;
    margin: 0 auto;
    display: block;
    border: 1px solid;
    border-color: rgb(184, 184, 184);
    border-radius: 35px;
    background-color: rgb(241, 241, 241);
    text-align: center;
}
#mainTitle{
    font-family:"formula1-display-regular";
}
#lowIcons{
    display: block;
    bottom: 0;
    left: 0;
    background-color: red;
    position: absolute;
    width: 100%;
}
#scale{
    display: inline;
    width: 10%;
    position: absolute;
    background-color: rgb(219, 219, 219);
    border: 2px solid rgb(191, 191, 191);
    border-radius:35px ;
}
#selfPosition{
    display: inline;
    float: right;
    width: 10%;
}
/*clases*/
