/* Estilos para centrar el contenido verticalmente y agregar margen arriba */
body {
    margin: 40px 0 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #26718f;
}

.centered-content {
    position: relative;
    text-align: center;
    margin: 0 auto;
    max-width: 1920px;
}

.frame {
    position: relative;
    width: 100%;
    background: #2A9D8F;
    text-align: left;
}

.content {
    position: relative;
    margin: 0 auto;
    max-width: 960px;
}

.title {
    color: #E76F51;
    font-size: 64px;
    font-weight: 700;
    margin: 80px 0 20px;
}

.text {
    color: #E9C46A;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 40px;
}

.Frame1 {
    width: 1920px;
    height: 1080px;
    position: relative;
    background: #264653
}

.Rectangle3 {
    width: 960px;
    height: 1080px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #287271
}

.Ellipse1 {
    width: 940px;
    height: 940px;
    left: -164px;
    top: 504px;
    position: absolute;
    background: #F4A261;
    box-shadow: 300px 300px 300px;
    border-radius: 9999px;
    filter: blur(300px)
}

.Firespotter {
    width: 654px;
    height: 123px;
    left: 78px;
    top: 77px;
    position: absolute;
    color: #F4A261;
    font-size: 64px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word
}

.Team {
    width: 187px;
    height: 52px;
    left: 1268px;
    top: 116px;
    position: absolute;
    color: #E76F51;
    font-size: 24px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word
}

.tryTodayLink {
    width: 675px;
    height: 75px;
    left: 1175px;
    top: 974px;
    position: absolute;
    text-align: center
}

#options{
    display: absolute;
    right: 80%;
} /*esto hay que mirarlo bien*/

.DemoCase {
    width: 137px;
    height: 52px;
    left: 1664px;
    top: 116px;
    position: absolute;
    color: #E76F51;
    font-size: 24px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word
}

.AppFunctions {
    width: 218px;
    height: 52px;
    left: 1437px;
    top: 116px;
    position: absolute;
    color: #E76F51;
    font-size: 24px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word
}

.SpotTheFireAnytimeAnywhere {
    width: 900px;
    height: 320px;
    left: 78px;
    top: 220px;
    position: absolute;
    color: #F4A261;
    font-size: 70px;
    font-family: Inter;
    font-weight: 700;
    line-height: 80px;
    word-wrap: break-word
}

.ultimate {
    width: 708px;
    height: 84px;
    left: 78px;
    top: 382px;
    position: absolute
}

.Rectangle2 {
    width: 239px;
    height: 58px;
    left: 130px;
    top: 538px;
    position: absolute;
    background: #264653;
    border-radius: 15px
}

.TryMeNow {
    width: 252px;
    height: 61px;
    left: 126px;
    top: 523px;
    position: absolute;
    color: #E76F51;
    font-size: 24px;
    font-family: Inter;
    font-weight: 700;
    line-height: 80px;
    word-wrap: break-word
}

.FreeAppLaunch {
    width: 252px;
    height: 61px;
    left: 374px;
    top: 523px;
    position: absolute;
    color: #264653;
    font-size: 24px;
    font-family: Inter;
    font-weight: 700;
    line-height: 80px;
    word-wrap: break-word
}

.Removal1 {
    width: 630px;
    height: 638px;
    left: 1186px;
    top: 221px;
    position: absolute
}

.Frame2 {
    width: 1920px;
    height: 1080px;
    position:
        relative;
    background: #2A9D8F
}

.Rectangle1 {
    width: 960px;
    height: 1080px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #264653
}

.juandeTeam {
    width: 819px;
    height: 460px;
    left: 49px;
    top: 364px;
    position:
        absolute;
    color: #E9C46A;
    font-size: 32px;
    font-family: Inter;
    font-weight: 700;
    line-height: 40px;
    word-wrap: break-word
}

.teamPhoto {
    width:
        960px;
    height: 1080px;
    left: 960px;
    top: 0px;
    position: absolute
}

.Team {
    width: 672px;
    height: 154px;
    left: 70px;
    top:
        99px;
    position: absolute;
    color: #E76F51;
    font-size: 70px;
    font-family:
        Inter;
    font-weight: 700;
    line-height: 80px;
    word-wrap: break-word
}

.Frame3 {
    width: 1920px;
    height: 1080px;
    position:
        relative;
    background: #2A9D8F
}

.AppFunctions2 {
    width: 601px;
    height: 154px;
    left:
        1230px;
    top: 99px;
    position: absolute;
    color: #264653;
    font-size: 70px;
    font-family: Inter;
    font-weight: 700;
    line-height: 80px;
    word-wrap:
        break-word
}

.advancedFirePrediction {
    width: 819px;
    height: 466px;
    left: 49px;
    top: 164px;
    position:
        absolute
}

.Rectangle4 {
    width: 50px;
    height: 50px;
    left: 111px;
    top: 610px;
    position: absolute;
    background: #F80707;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px
}

.Rectangle5 {
    width: 50px;
    height: 50px;
    left: 111px;
    top: 678px;
    position: absolute;
    background: #ED991C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px
}

.Rectangle6 {
    width: 50px;
    height: 50px;
    left: 111px;
    top: 746px;
    position: absolute;
    background: #F4F90C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px
}

.Rectangle7 {
    width: 50px;
    height: 50px;
    left: 111px;
    top: 814px;
    position: absolute;
    background: #36FC04;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px
}

.Rectangle8 {
    width: 50px;
    height: 50px;
    left: 111px;
    top: 882px;
    position: absolute;
    background: #0887FC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px
}

.percentages{
    width: 740px;
    height: 343px;
    left: 197px;
    top: 595px;
    position:
        absolute
}

.image-1 {
    width: 845px;
    height: 576px;
    left: 986px;
    top: 305px;
    position: absolute
}

.fromFlamesToFrames {
    width: 906px;
    height: 69px;
    left: 986px;
    top: 994px;
    position:
        static
}

.Frame4 {
    width: 1920px;
    height: 1080px;
    position:
        relative;
    background: #264653
}

.Rectangle28 {
    width: 960px;
    height: 1080px;
    left: 2px;
    top: 0px;
    position: absolute;
    background: #2A9D8F;
    backdrop-filter:
        blur(50px)
}

.DemoCase1 {
    width: 403px;
    height: 45px;
    left: 189px;
    top: 81px;
    position: absolute;
    color: #E9C46A;
    font-size: 70px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word
}

.realCase {
    width: 791px;
    height: 224px;
    left: 1042px;
    top: 101px;
    position:
        absolute;
    color: #F4A261;
    font-size: 40px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word
}

.image-2 {
    width: 689px;
    height: 394px;
    left: 1128px;
    top: 631px;
    position: absolute;
    box-shadow: 0px 4px 4px rgba(0, 0, 0,
            0.25) inset
}

.image-3 {
    width: 689px;
    height: 418px;
    left: 1128px;
    top: 213px;
    position: absolute;
    box-shadow: 0px 4px 50px rgba(0, 0, 0,
            0.25) inset
}

.tenerifeCase{
    width: 859px;
    height: 798px;
    left: 53px;
    top: 232px;
    position:
        absolute;
    color: #264653;
    font-size: 40px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word
}